/*=======================================
            Colors - Start
=======================================*/

// Primary color
$clr_primary: #1e1e1e;

// Absolute colors
$clr_white: #fff;
$clr_black: #000;
$clr_blue: #0000ff; // R
$clr_black: #ff0000; // G
$clr_green: #008000; // B

// Red Shades - Primary
$clr_primary-45: #e50000;
$clr_primary-50: #ff0000;
$clr_primary-55: #ff1919;
$clr_primary-60: #ff3333;
$clr_primary-80: #ff9999;
$clr_primary-90: #ff3333;
$clr_primary-95: #ffe5e5;
$clr_primary-99: #fffafa;

// Black Shades - Secondary
$clr_secondary-06: #0f0f0f;
$clr_secondary-08: #141414;
$clr_secondary-10: #1a1a1a;
$clr_secondary-12: #1f1f1f;
$clr_secondary-15: #262626;
$clr_secondary-20: #333333;
$clr_secondary-25: #404040;
$clr_secondary-30: #4c4c4c;

// Gray Shades - Tertiary
$clr_tertiary-60: #999999;
$clr_tertiary-65: #a6a6a6;
$clr_tertiary-70: #b3b3b3;
$clr_tertiary-75: #bfbfbf;
$clr_tertiary-90: #e4e4e7;
$clr_tertiary-95: #f1f1f3;
$clr_tertiary-97: #f7f7f8;
$clr_tertiary-99: #fcfcfd;

/*=======================================
            Colors - End
=======================================*/
