/*=======================================
        Variables of Font - Start
=======================================*/

// Font Weights
$font_weight-bold: 700;
$font_weight-semibold: 600;
$font_weight-medium: 500;
$font_weight-regular: 400;

// Font Styles
$font_style-normal: normal;

// Font Sizes
$font_size-html: 10px;
$font_size-root: 1.6rem;

// Not included
// *Font Sizes for Headings, Paragraphs, Links, Lists, etc.
// *Line Heights for Headings, Paragraphs, Links, Lists, etc.

/*=======================================
        Variables of Font - End
=======================================*/
