/*=======================================
              Footer - Start
=======================================*/
.section_footer {
    background: $clr_secondary-06;
    padding: 5rem 0 5rem 0 !important;

    &-primary {
        &--column {
            h5 {
                color: $clr_white;
                font-family: $font_family-manrope;
                font-size: 2rem;
                font-style: $font_style-normal;
                font-weight: $font_weight-semibold;

                margin: 0 0 2.4rem 0;
            }

            ul {
                li {
                    margin: 0 0 1.4rem 0;

                    a {
                        color: $clr_tertiary-60 !important;
                        font-family: $font_family-manrope;
                        font-size: 1.8rem;
                        font-style: $font_style-normal;
                        font-weight: $font_weight-medium;
                    }

                    .iconCover {
                        border: 0.1rem solid $clr_secondary-15;
                        background: $clr_secondary-15;
                        border-radius: 0.8rem;

                        padding: 0.5rem !important;
                    }
                }
            }
        }
    }

    &-secondary {
        border-top: 1px solid $clr_secondary-15 !important;

        p {
            color: $clr_tertiary-60;
            font-family: $font_family-manrope;
            font-size: 1.8rem;
            font-style: $font_style-normal;
            font-weight: $font_weight-regular;
        }

        ul {
            li {
                color: $clr_tertiary-60 !important;
                font-size: 1.8rem;

                &:hover {
                    color: $clr_tertiary-60 !important;
                }

                a {
                    color: $clr_tertiary-60 !important;
                    font-family: $font_family-manrope;
                    font-size: 1.8rem;
                    font-style: $font_style-normal;
                    font-weight: $font_weight-regular;

                    &:hover {
                        color: $clr_tertiary-60 !important;
                    }
                }
            }
        }
    }
}

/*=======================================
            Responsive Design Start
=======================================*/
@media only screen and (max-width: 576px) {
    .section_footer {
        padding: 0 1.6rem;

        .container {
            margin: 0 1.6rem !important;
        }

        &-primary {
            &--column {
                h5 {
                    font-size: 1.6rem;
                    margin: 0 0 1.6rem 0;
                }

                ul {
                    margin-bottom: 3rem;
                    li {
                        a {
                            font-size: 1.4rem;
                        }
                    }
                }
            }
        }

        &-secondary {
            p {
                font-size: 1.8rem;
                margin-bottom: 2rem;
            }

            ul {
                li {
                    font-size: 1.4rem;
                    a {
                        font-size: 1.4rem;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 576px) {
    .section_footer {
        padding: 0 1.6rem;

        &-primary {
            &--column {
                h5 {
                    font-size: 1.6rem;
                    margin: 0 0 1.6rem 0;
                }

                ul {
                    margin-bottom: 3rem;
                    li {
                        a {
                            font-size: 1.4rem;
                        }
                    }
                }
            }
        }

        &-secondary {
            p {
                font-size: 1.8rem;
                margin-bottom: 2rem;
            }

            ul {
                li {
                    font-size: 1.4rem;
                    a {
                        font-size: 1.4rem;
                    }
                }
            }
        }
    }
}

/*=======================================
              Footer - End
=======================================*/
