body {
  color: #333;
}

body {
  color: #444;
}

body {
  color: #222;
}

body {
  color: #111;
}

body {
  color: rgba(194, 32, 32, 0);
}

body {
  color: rgba(194, 32, 32, 0);
}

body {
  color: rgba(194, 32, 32, 0);
}

body {
  color: rgba(194, 32, 32, 0);
}